{% extends "all/base.html" %}

{% block title %}
    Add Employee
{% endblock %}

{% block content %}
    <div class="shop-details">
        <a href="javascript:history.go(-1)" class="btn btn-primary">Back</a>
        <form class="col-md-4 offset-md-4 mt-5 border p-3" method="post">
            {% csrf_token %}
            <h4 class="pb-3">Add Employee Details</h4>
            <label for="emp-id" class="form-label">Emp ID:</label>
            <input type="text" id="emp-id" name="emp-id"class="form-control" value="{{emp_id}}">
            <label for="b_id" class="form-label">Branch ID:</label>
            <select class="form-select" id="branch" name="branch">
                <option selected>Select One of the Branch IDs</option>
                {% for branch in company_branches %}
                    <option value="{{branch}}">{{branch}}</option>
                {% endfor %}
            </select>
            <label for="ename" class="form-label">Employee Name:</label>
            <input type="text" id="ename" name="ename" class="form-control" value="">
            <label for="emp-phone-num" class="form-label">Employee Phone No:</label>
            <input type="text" id="emp-phone-num" name="emp-phone-num" class="form-control" value="">
            <label for="emp-department" class="form-label">Department:</label>
            <input type="text" id="emp-department" name="emp-department" class="form-control" value="">
            <label for="emp-dob" class="form-label">Employee Date of Birth:</label>
            <input type="date" id="emp-dob" name="emp-dob" class="form-control" value="">
            <label for="emp-salary" class="form-label">Salary:</label>
            <input type="text" id="emp-salary" name="emp-salary" class="form-control" value="">
            <label for="emp-email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="emp-email" name="emp-email" aria-describedby="emailHelp">
            <label for="emp-pwd" class="form-label">Password</label>
            <input type="password" class="form-control" id="emp-pwd" name="emp-pwd">
            <label for="emp-pwd" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" id="emp-cnf-pwd" name="emp-cnf-pwd">

            <button type="submit" class="btn btn-success mt-3 col-md-2 offset-md-5">Save</button>

            <div class="error text-danger">{{error}}</div>
        </form>
    </div>
{% endblock %}
        