{% extends "all/base.html" %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    <h3>Company ID: {{company.c_id}}</h3>
    <h3>Company Name: {{company.c_name}}</h3>
    <h3>Branch Name: {{branch.b_id}}</h3>
    <button type="button" class="btn btn-primary" onclick="location.href = '/add-shop/{{branch.b_id}}';">Add a Shop</button>
    <button type="button" class="btn btn-primary" onclick="location.href = '/add-warehouse/{{branch.b_id}}';">Add a Warehouse</button>
    <button type="button" class="btn btn-primary" onclick="location.href = '/all-employees';">View All Employees</button>
    <!-- Table to display the current list of shops or warehouse-->
    <table class="table table-striped">
        <tr>
            <th scope="col">S_ID/W_ID</th>
            <th scope="col">Shop/Warehouse</th>
            <th scope="col">Modify Items</th>
            <th scope="col">Delete</th>
        </tr>
        {% for store in stores %}
            <tr>
                <td>{{store.s_id}}</td>
                <td>Shop</td>
                <td><button class="btn btn-primary" onclick="location.href = '/modify-stock';">Modify Stock</button></td>
                <td><button class="btn btn-primary" onclick="location.href = '/delete-store/{{branch.b_id}}/{{store.s_id}}';">Delete Shop</button></td>
            </tr>
        {% endfor %}
        {% for warehouse in warehouses %}
        <tr>
            <td>{{warehouse.w_id}}</td>
            <td>Warehouse</td>
            <td><button class="btn btn-primary" onclick="location.href = '/modify-stock';">Modify Stock</button></td>
            <td><button class="btn btn-primary" onclick="location.href = '/delete-warehouse/{{branch.b_id}}/{{warehouse.w_id}}';">Delete Warehouse</button></td>
        </tr>
        {% endfor %}
    </table>

{% endblock %}
        