
<!--Table transaction{
    t_id varchar [pk]
    emp_id varchar
    date_of_transaction date [not null]
    cus_id varchar [not null]
    final_cost int [not null]
}-->
{% extends "all/base.html" %}

{% block title %}
    Home Page
{% endblock %}

{% block content %}
    <div class="container p-5">
        <h3>{{cus.cus_name}}</h3>
        <h3>Customer ID {{cus.cus_id}}</h3>
        <div class="container p-2">
            <button class="btn btn-primary" onclick="location.href = '/source-item';">
                Looking for a specific item?
            </button>
        </div>
        
        <table class="table table-info table-stripped">
            <tr>
                <th class="col-1">Transaction ID</th>
                <th class="col">Emp_Id</th>
                <th class="col">Date of Transaction</th>
                <th class="col">Cost</th>
                <th class="col"></th>
            </tr>
            {% for item in items %}
            <tr>
                <td>{{item.t_id}}</td>
                <td>{{item.emp_id}}</td>
                <td>{{item.date_of_transaction}}</td>
                <td>{{item.total_cost}}</td>
                <td class="text-end">
                    <button class="btn btn-primary" onclick="location.href = '/transaction-details/{{item.t_id}}';">VIEW</button>
                </td>
            </tr>
            {% endfor %}
        </table>

    </div>
{% endblock %}