{% extends "all/base.html" %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    <div class="shop-details">
        <form class="col-md-4 offset-md-4 mt-5 border p-3" method="post" action="/store-form">
            {% csrf_token %}
            <h4 class="pb-3">Edit Details</h4>
            <label for="s_id" class="form-label">Shop:</label>
            <input type="text" id="s_id" name="s_id" class="form-control" value="{}">
            <label for="b_id" class="form-label">Branch ID:</label>
            <input type="text" id="b_id" name="b_id" class="form-control" value="{}">
            <label for="admin_id" class="form-label">Admin ID:</label>
            <input type="text" id="admin_id" name="admin_id" class="form-control" value="{}">
            <button type="submit" class="btn btn-success mt-3 col-md-2 offset-md-5">Save</button>
        </form>
    </div>
{% endblock %}
        