{% extends "all/base.html" %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    <div class="shop-details">
        <form class="col-md-4 offset-md-4 mt-5 border p-3">
            <h4 class="pb-3">Edit Employee Details</h4>
            <label for="emp-id" class="form-label">Emp ID:</label>
            <input type="text" id="emp-id" name="emp-id"class="form-control" value="{}">
            <label for="b_id" class="form-label">Branch ID:</label>
            <input type="text" id="b_id" name="b_id" class="form-control" value="{}">
            <label for="ename" class="form-label">Employee Name:</label>
            <input type="text" id="ename" name="ename" class="form-control" value="{}">
            <label for="emp-phone-num" class="form-label">Employee Phone No:</label>
            <input type="text" id="emp-phone-num" name="emp-phone-num" class="form-control" value="{}">
            <label for="emp-department" class="form-label">Department:</label>
            <input type="text" id="emp-department" name="emp-department" class="form-control" value="{}">
            <label for="emp-dob" class="form-label">Employee Date of Birth:</label>
            <input type="date" id="emp-dob" name="emp-dob" class="form-control" value="{}">
            <label for="emp-salary" class="form-label">Salary:</label>
            <input type="text" id="emp-salary" name="emp-salary" class="form-control" value="{}">
            <label for="company-email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="company-email" name="company-email" aria-describedby="emailHelp">
            <label for="company-pwd" class="form-label">Password</label>
            <input type="password" class="form-control" id="company-pwd" name="company-pwd">

            <button type="submit" class="btn btn-success mt-3 col-md-2 offset-md-5">Save</button>
        </form>
    </div>
{% endblock %}
        