{% extends "all/base.html" %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    <div class="container px-5">
        <div class="container p-2">
            <h3>ID: {{id}}</h3>
            <button onclick="location.href='/modify-stock-emp';" class="btn btn-primary">Back</button>
            <br>
            <br>
            <button  class="btn btn-primary" onclick="location.href = '/add-item-emp/{{b_id}}/{{id}}';">
                ADD ITEM
            </button>
        </div>
        
        <table class="table table-info table-stripped">
            <tr>
                <th class="col-1">ITEM_ID</th>
                <th class="col-8">ITEM_NAME</th>
                <th class="col-1 offset-9">Quantity</th>
                <th class="col"></th>
            </tr>
            {% for item in all_products %}
                <tr>
                    <td class="col-1">{{item.p_id}}</td>
                    <td class="col-8">{{item.p_name}}</td>
                    <td class="col-1 offset-9">{{item.quantity}}</td>
                    <td class="text-end">
                        <button  class="btn btn-primary" onclick="location.href = '/delete-product-emp/{{b_id}}/{{id}}/{{item.p_id}}';">DELETE</button>
                        <!-- <button  class="btn btn-primary" onclick="location.href = '/modify-item-details';">MODIFY</button> -->
                    </td>
                </tr>
            {% endfor %}

        </table>

    </div>
{% endblock %}