{% extends "all/base.html" %}

{% block title %}
    Employee
{% endblock %}

{% block content %}

<h3>EMP_ID: {{emp.emp_id}}</h3>
<h3>EMP_Name: {{emp.emp_name}}</h3>
<h3>Branch_ID: {{branch.b_id}}</h3>
<!-- <button type="button" class="btn btn-outline-secondary">More Details</button> -->

<div class="d-grid gap-2">
    <button class="btn btn-primary" type="button" onclick="location.href = '/modify-stock-emp';">Modify Stock</button>
    <button class="btn btn-primary" type="button" onclick="location.href = '/transaction';">Make Transaction</button>
  </div>

{% endblock %}