{% extends "all/base.html" %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    <div class="container2">
        <div class="item2">
            <h1 style="font-size: 55px;" class="truculenta-heading">ReMag</h1>
            <h2 class="truculenta-heading">Re-Imagined Management!</h2>
        </div>
        <div class="container2 users">
            <div class="company user">
                <h3 class="truculenta-heading">Company</h3>
                <button type="button" class="btn btn-outline-primary">Login as a Company</button>
            </div>
            
            <div class="employee user">
                <h3 class="truculenta-heading">Employee</h3>
                <button type="button" class="btn btn-outline-primary">Login as an Employee</button>
            </div>

            <div class="customer user">
                <h3 class="truculenta-heading">Customer</h3>
                <button type="button" class="btn btn-outline-primary">Login as a Customer</button>
            </div>
        </div>
    </div>
{% endblock %}
        