{% extends "all/base.html" %}

{% block title %}
    Login Customer
{% endblock %}

{% block content %}

    <section id="login-section">
        <div id="login">
            <h1>Login as Customer</h1>
            <form method="post">
                {% csrf_token %}
                <div class="mb-3 col-md-4 offset-md-4">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <div class="mb-3 col-md-4 offset-md-4">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" name="password">
                </div>
                <button type="submit" class="btn btn-primary col-md-4 offset-md-4">Submit</button>
                <div class="form-text col-md-3 offset-md-4">No Account? <a href="/signupcus">Sign Up</a></div>
                <div class="error text-danger">{{error}}</div>
            </form>
        </div>
    </section>

{% endblock %}