{% extends "all/base.html" %}

{% block title %}
    Modify Stock
{% endblock %}

{% block content %}
    <div class="container px-5">
        <div class="container p-2">
            <h3>ID: {{id}}</h3>
            <a href="javascript:history.go(-1)" class="btn btn-primary">Back</a>
            <br>
            <br>
            <button  class="btn btn-primary" onclick="location.href = '/add-item/{{b_id}}/{{id}}';">
                ADD ITEM
            </button>
        </div>
        
        <table class="table table-info table-stripped">
            <tr>
                <th class="col-1">ITEM_ID</th>
                <th class="col">ITEM_NAME</th>
                <th class="col"></th>
            </tr>
            {% for item in all_products %}
                <tr>
                    <td>{{item.p_id}}</td>
                    <td>{{item.p_name}}</td>
                    <td class="text-end">
                        <button  class="btn btn-primary" onclick="location.href = '/delete-product/{{b_id}}/{{id}}/{{item.p_id}}';">DELETE</button>
                        <button  class="btn btn-primary" onclick="location.href = '/modify-item-details';">MODIFY</button>
                    </td>
                </tr>
            {% endfor %}

        </table>

    </div>
{% endblock %}