{% extends "all/base.html" %}

{% block title %}
    SignUp Customer
{% endblock %}

{% block content %}
    <section id="signup-section" class="col-md-4 offset-md-4">
        <h1>Sign Up!</h1>
        <form method="post">
          {% csrf_token %}
            <div class="mb-3">
                <label for="customer-name" class="form-label">Enter Your Name</label>
                <input class="form-control" type="text" placeholder="Name" id="customer-name" name="customer-name">
            </div>
            <div class="mb-3">
                <label for="customer-phone" class="form-label">Enter Your Phone No</label>
                <input class="form-control" type="text" placeholder="Phone No" id="customer-phone" name="customer-phone">
            </div>
            <div class="mb-3">
                <label for="customer-dob" class="form-label">Enter Your DOB</label>
                <input type="date" class="form-control" id="customer-dob" name="customer-dob">
              </div>
            <div class="mb-3">
              <label for="customer-email" class="form-label">Email address</label>
              <input type="email" class="form-control" id="customer-email" aria-describedby="emailHelp" name="customer-email">
              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
              <label for="customer-pwd" class="form-label">Password</label>
              <input type="password" class="form-control" id="customer-pwd" name="customer-pwd">
            </div>
            <div class="mb-3">
              <label for="customer-pwd" class="form-label">Please re-type the password</label>
              <input type="password" class="form-control" id="customer-pwd2" name="customer-pwd2">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            <div class="error text-danger">{{error}}</div>
          </form>

    </section>

{% endblock %}