{% extends "all/base.html" %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    <div class="container p-5">
        <div class="container p-2">
            <button class="btn btn-primary" onclick="location.href = '/customer';">
                Go Back
            </button>
        </div>
        <form method="post">
            {% csrf_token %}
            <div class="row m-5 text-center">
                <div class="col-7"><input type="text" id="search_box" class="form-control" name="search_box"></div>
                <div class="col-5"><button type="submit" class="btn btn-success justify-content-start">SEARCH</button></div>
            </div>
        </form>
        
        
        <div class="row">
            <table class="table table-info">
                <tr><th>ITEM NAME</th><th>ITEM STOCK</th></tr>
                {% for item in items %}
                <tr>
                    <td>
                        {{item.p_name}}
                    </td>
                    <td>
                        {% if item.quantity == 0 %}
                            ITEM OUT OF STOCK
                        {% else %}
                            {{item.quantity}}
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}